.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom_navbar {
  height: 100px;
  font-size: 14pt;
}

.nav-link {
  margin-right: 20px;
}

.home-header {
  text-align: left;
}

.home-section {
  padding-top: 35px;
}

.card {
  text-align: left;
}

.card-col {
  margin-top: 25px;
}

.header-title {
  text-align: left;
}

.form-group {
  margin-bottom: 20px;
}

.home_container {
  max-width: 800px;
}

.welcome_title {
  font-size: 60px;
}

.upload-box {
  border: 2px dashed #cccccc;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border-color 0.3s;
  background-color: #f8f9fa;
  padding: 5%;
}

.upload-box.drag-active {
  border-color: #007bff;
}

.upload-content {
  text-align: center;
}

.upload-content p {
  margin-bottom: 20px;
  font-size: 16px;
  color: #6c757d;
}

.upload-content .btn {
  background-color: #004aad;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
}

.upload-content .btn:hover {
  background-color: #0d6be5;
}

.thumbnail-preview {
  width: 480px;
}

.frm_rate {
  text-align: left;
  align-items: left;
  margin-top: 30px;
}

.rate_container {
  margin-bottom: 100px;
  background: #ffffff;
  padding: 5%;
  border-radius: 2%;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.134);
}

.form-label {
  font-weight: 500;
}

.rate-button {
  width: 100%;
  padding: 10px;
}

.result-container {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
}

.thumbnail-image {
  max-width: 100%;
  border-radius: 8px;
}

.rating-text {
  color: #6f42c1;
  font-weight: bold;
}

.result-table {
  margin-top: 20px;
}

.dot {
  font-size: 20px;
  margin-right: 5px;
}

.filled-dot {
  color: rgb(10, 119, 177);
}

.unfilled-dot {
  color: lightgray;
}

.composition_value {
  margin-bottom: 0 !important;
}

.nav_bar {
  background-color: #004aad !important;
}
